@(node: String)
<!DOCTYPE html>
<html>
    <head>
        <title>Elasticsearch</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=1280" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/tools.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/edurep.js")"></script>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
        <link href="@routes.Assets.at("stylesheets/impress.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/elastic.css")" rel="stylesheet">
    </head>
    <body>
        <div id="impress">

            <div id="welcome" class="step">
                <img src="@routes.Assets.at("images/header.png")" height="186" width="599">
                <p>You know, for Search</p>
            </div>

            <div id="agenda" class="step" data-y="2000">
                <h1>Agenda</h1>
                <ol>
                    <li>Vocabulary</li>
                    <li>Full text search</li>
                    <li>Case: Edurep</li>
                    <li>Indexing data</li>
                    <li>Searching</li>
                </ol>
            </div>

            <div id="vocabulary" class="step" data-y="4000">
                <dl>
                    <dt>Database</dt><dd>Index</dd>
                    <dt>Table</dt><dd>Type</dd>
                    <dt>Row</dt><dd>Document</dd>
                    <dt>Column</dt><dd>Field</dd>
                </dl>
            </div>

            <div id="analyse" class="step" data-x="2000" data-y="4000">
<pre class="elastic post" data-url="@node/_analyze?analyzer=dutch">
Ik heb dan ook altijd opgemerkt dat mensen die zich met zoiets inlaten, gewoonlijk slecht wegkomen. Ik ben drieënveertig jaar oud, bezoek sedert twintig jaren de beurs, en kan dus voor de dag treden, als men iemand roept die ondervinding heeft. Ik heb al wat huizen zien vallen!
</pre>
            </div>

            <div class="step" data-y="6000">
                <p>Edurep: Zoekmachine van Kennisnet</p>
                <dl>
                    <dt><a href="@routes.Application.lom" target="lom">LOM</a></dt>
                    <dd>LeerObject Metadata</dd>
                </dl>
            </div>
           <div id="example" class="step" data-x="2000" data-y="6000">
<pre class="command json highlight" data-url="@node/edurep/lom">
{
    "title": "Rozijnen",
    "description": "Kleine, donkere, droge frummeltjes in een doosje. Iedereen kent ze wel: Rozijnen! Wil je meer weten over deze lekkernij? Maak dan snel deze les",
    "keyword": [ "Krenten", "Druiven", "Krentenbol", "Brood", "Muesli", "Minipad" ],
    "context": "PO",
    "costs": false,
    "duration": 1,
    "repository": "acadin"
}
</pre>
            </div>

            <div id="mapping" class="step" data-x="6000" data-y="6000">
<pre class="query" data-url="@node/edurep/lom/_mapping">
curl -XGET @node/edurep/lom/_mapping
</pre>
            </div>

            <div id="search_all" class="step" data-y="8000">
<pre class="elastic json post" data-url="@node/edurep/lom/_search">
{
    "query": {
        "match_all": {}
    }
}
</pre>
            </div>

            <div id="facets" class="step" data-y="10000">
<pre class="elastic json post" data-url="@node/edurep/lom/_search">
{
    "size": 0,
    "query": {
        "match_all": {}
    },
    "facets": {
        "contexts": { "terms": { "field": "context", "all_terms": true } }
    }
}
</pre>
            </div>

        </div>
    </body>
</html>
<script type="text/javascript" src="@routes.Assets.at("javascripts/impress.js")"></script>
<script>impress().init();</script>